@mixin items-center {
  display: flex;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
